@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Забыли подтверждение пароля</h1>
<p>
    Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
</p>
