@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Вы успешно авторизовались</h1>

<AuthorizeView>
    Привет @context.User.Identity?.Name!
</AuthorizeView>
